$colors: (
  primary: #b19cd9,
  primary-light: #ddd3ee,
  primary-dark: #8565c4,
  dark-blue: #576079,
  light-blue: #abc2cb,
  orange: #d67667,
  grey: #cfcec6,
  brown: #816852;,
);

@function color($color-name) {
  @return map-get($colors, color-name);
}

$phone: 600px;
$tablet: 900px;
$laptop: 1100px;
$desktop: 1100px;
