@import "@/styles/_variables.scss";

.home-page {
  background-color: map-get($colors, background-grey);
  font-family: $font;
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
}

.user-banner-profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: sticky;
  z-index: 10;
  top: 0;
  height: 5.3rem;
  width: 100%;
  margin: auto;
  background-color: lavender;
}

#logo-for-feed {
  padding-top: 0.25rem;
  text-align: center;
  height: 100%;
  width: 14%;
  @include phone {
    padding: 0rem 0rem 0.25rem 0rem;
  }
}
.logo {
  height: 75%;
  margin: 1.5% 0% 0% 10%;
  @include phone {
    height: 3rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }
}


#select-tag-container {
  height: 100%;
  width: 68%;
  .vs--searchable {
    font-size: 1.5rem;
    padding: 1rem;
    @include phone {
      font-size: 1rem;
      margin-top: .7rem;
    }
  }
  @include phone {
    width: 61%;
  }
  @include tablet {
    width: 67%;
  }
}

#button-container{
  height: 100%;
  width: 3%;
  text-align: center;
  @include phone {
    width: 20%;
    padding-right: 0.25rem;
    height: 100%;
  }
  @include tablet {
    width: 8%;
  }
}
.w3-black {
  margin-top: 0.9rem;
  width: 100%;
  padding: 0rem;
  border: #BABAC9 solid 1px;
  background-color: white !important;
  color: #91919B !important;
  font-weight: 800;
  font-size: 1.5em;
  border-radius: 5px;
  margin-top: 1rem;
  height: 62%;
  @include phone{
    margin-top: 1rem;
    height: 60%;
  }
}

#avatar {
  text-align: center;
  width: 15%;
}
.avatar-icon {
  padding-bottom: 0.4rem;
  color: black;
  @include phone {
    margin-left: 0rem;
  }
}


.new-post-modal-content {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: map-get($colors, background-grey);
  position: relative;
  margin-top: 2rem;
  height: fit-content;
  width: 70%;
  margin: auto;
  margin-bottom: 2rem;
  @include tablet {
    width: 90%;
  }
  @include phone {
    padding: 0rem;
    width: 90%;
  }
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 3rem;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  z-index: 1;
}
.close-button:hover {
  background-color: map-get($colors, primary);
}

.modal-header {
  text-align: center;
  line-height: 3rem;
  font-size: 3rem;
  font-weight: bold;
  @include phone {
    font-size: 2.5rem;
  }
}
.blog-picture {
  background-color: white;
  height: 48vh;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border: 1.35px solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-color: #DBDBDB;
  margin-top: 1rem;
}

.select-image-form {
  @include phone {
    margin: 0rem;
    margin-right: .5rem;
  }
}

.clear-image-button {
  position: absolute;
  top: 9.75rem;
  right: 3.75rem;
  cursor: pointer;
  padding: 7px 9px 7px 9px;
  font-size: 1.5rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: map-get($colors, accent2);
}

#select-image-upload {
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  object-fit: contain;
  height: 100%;
  width: 100%;
  padding-bottom: 2rem !important;
  @include phone {
    padding-bottom: 0rem !important;
    height: 80%;
  }
  @include tablet {
    padding-bottom: 0rem !important;
  }
}

.select-image-container {
  height: 100%;
}

.select-image-upload-container {
  height: 90%;
  width: 100%;
}

#mySelect {
  width: 95%;
  height: 62%;
  margin-top: 0.9rem;
  font-size: 1.5em;
  border-radius: 5px;
  border: #BABAC9 solid 1px;
  padding-left: 10px;
  @include phone{
    margin-left: 1.5rem;
    font-size: 1rem;
    width: 85%;
  }
}

.blog-comment {
  height: 12vh;
  margin-bottom: 0.75rem;
  border: 1.35px solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-color: #DBDBDB;
}

.blog-bottom-row {
  display: flex;
  flex-direction: row;
  height: 6vh;
}

.blog-tag {
  margin-right: 2%;
  padding-left: 7px;
  border: 1.35px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: #DBDBDB;
  width: 76%;
  font-size: 1.3rem;
  @include phone{
    width: 70%;
    font-size: 1rem;
  }
  @include tablet {
    width: 80%;
  }
}

.blog-toggle-private-public {
  width: 10%;
  margin-right: 2%;
  padding-left: 7px;
  border: 1.35px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: #DBDBDB;
}

.blog-post {
  width: 10%;
  background-color: map-get($colors, primary);
  border: 1.35px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: #DBDBDB;
  cursor: pointer;
  font-size: 1.3rem;
  @include phone{
    width: 15%;
    font-size: .9rem;
  }
  @include tablet {
    font-size: 1.2rem;
  }
}

.blog-close {
  width: 10%;
  background-color: map-get($colors, primary);
  border: 1.35px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: #DBDBDB;
  cursor: pointer;
  margin-left: .5rem;
  font-size: 1.3rem;
  @include phone{
    width: 15%;
    font-size: .9rem;
  }
  @include tablet {
    font-size: 1.2rem;
  }
}

.blog-caption {
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1.3rem;
  resize: none;  
  border-radius: 10px;
  cursor: pointer;
  @include phone {
    font-size: 1rem;
  }
  @include tablet {
    font-size: 1.2rem;
    padding: 1rem;
  }
}

// #settings {
//   width: 5%;
//   border: 2px solid;
//   border-left: none;
// }

.feed {
  width: 70%;
  margin: auto;
  margin-top: 2.5rem;
  @include phone {
    margin-top: 1rem;
    padding-bottom: 0rem;
    width: 97%;
  }
  @include tablet {
    width: 90%;
  }
}

.feed-post {
  background-color: white;
  margin-bottom: 2rem;
  border: 1.35px solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-color: #DBDBDB;
  height: fit-content;
  @include phone {
    border: 1px solid;
    border-radius: 5px;
    border-color: #DBDBDB;
  }
}

.picture {
  height: 85%;
  position: relative;
  object-fit: cover;
  @include phone{
    height: 75%;
  }
}

.placeholder {
  height: 100%;
  width: 100%;
  //border-radius: 3px;
  object-fit: cover;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.likes-container {
  width: 100%
}
.likes {
  height: 3rem;
  padding: 0.5rem 0rem 0rem 1rem;
  background-color: map-get($colors, primary);
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  @include phone {
    height: 2rem;
    padding: 0.2rem 0rem 0rem .4rem;
    font-size: 1.1rem;
  }
}

#enlargeText {
  padding: 0rem;
}


.enlarge-container {
  padding-right: 1rem;
}

.description-comment {
  height: fit-content;
  margin: 0rem 1rem 0rem 1rem;
  @include phone {
    margin: 0rem .8rem 0rem .8rem;
  }
}

.description {
  height: fit-content;
  padding: 1rem 1rem 1rem 0.5rem;
  margin-bottom: 1rem;
  @include phone {
    padding-top: .5rem !important;
    margin-bottom: 0rem;
    padding: 0rem;
  }
}

.username {
  font-size: 1.6rem;
  font-weight: bold;
  color: black;
  width: fit-content;
  margin-bottom: .3rem;
  @include phone {
    font-size: 1rem;
    margin-bottom: 0rem;
  }
}

.caption {
  font-size: 1.5rem;
  display: inline-block;
    @include phone {
    font-size: .8rem;
  }
    @include tablet {
    font-size: 1.3rem;
  }
}

.comment-section {
  height: 3rem;
  padding-top: 0rem;
  margin-top: -1rem;
  border-bottom: 1px solid;
}

#comment-username {
  font-size: 1.3rem;
  padding-left: 0.5rem;
}

.comment {
  font-size: 1.1rem;
  display: inline-block;
}

#pop-up-container {
  position: fixed;
  top: 14%;
  left: 3%;
  height: 80%;
  width: 94%;
  background-color: black;
  background-color: rgba(0,0,0,0);
  @include phone {
    margin-top: 5rem;
  }
  @include tablet {
    margin-top: 7rem;
  }
}

.w3-modal-content {
  @include phone {
    padding: revert;
  }
}

.close-post-button {
  top: 0;
  right: 0;
  background-color: map-get($colors, primary);
  opacity: 80%;
}
.close-post-button:hover {
  opacity: 100%;
}

.close-post-button:hover {
  opacity: 100%;
}

.w3-container {
  padding: revert;
}
.image-popUp {
  display: block;
  margin: auto;
  max-height: 80vh;
  max-width: 100%;
}

#image-button-container {
  width: 100%;
  height: 100%;
  padding: 0rem;
}


.w3-display-topright {
  color: black;
  background: lightgrey;
}

body#pop-up-container {
  overflow: hidden;
}

.b-avatar {
  margin-top: .5rem;
  @include phone {
    margin-top: 1rem;
    width: 3rem !important;
    height: 3rem !important;
  }
}

.custom-file-label {
  font-size: 1.5rem;
  @include phone {
    font-size: .9rem;
  }
  @include tablet {
    font-size: 1.3rem;
  }
}

#clearImage {
  font-size: 1.5rem;
  @include tablet {
    height: 10%;
    font-size: 1.3rem;
  }
  @include phone {
  font-size: .8rem;
  margin-left: 0rem !important;
  height: 10%;
  }
}

#mt3container {
  height: 90%;
}
