.login-box {
  width: 90vh;
  margin: auto;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 2rem;
  margin-top: 8%;
  background-color: map-get($colors, primary-light); //testing variable
}

.login-title {
  text-align: center;
}

.login-signup-btn {
  display: flex;
  flex-direction: row;
}
#login-btn {
  width: 40%;
}
#signUp-btn {
  width: 60%;
}
