.user-banner-profile {
  height: 6rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#logo-for-feed {
  width: 5%;
  border: 2px solid;
  font-size: 0.75rem;
}

#banner-profile-empty-space {
  width: 90%;
  border: 2px solid;
  border-left: none;
}

#settings {
  width: 5%;
  border: 2px solid;
  border-left: 0px;
  font-size: 0.75rem;
}

.info-about-user {
  height: 30rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.user-profile-pic {
  height: 25rem;
  width: 40%;
  margin: auto;
  display: flex;
  //border-radius: 0.25rem;
  border: 2px solid;
  font-size: 0.75rem;
}

.generic-info {
  height: 25rem;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#user-following-followers {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#user-following {
  height: 100%;
  width: 90%;
  display: flex;
  //border-radius: 0.25rem;
  border: 2px solid;
  font-size: 0.75rem;
}

#user-followers {
  height: 100%;
  width: 90%;
  margin: auto;
  display: flex;
  //border-radius: 0.25rem;
  border: 2px solid;
  font-size: 0.75rem;
}

#user-username-n-bio {
  height: 100%;
  width: 100%;
  //width: 10rem;
  margin: auto;
  display: flex;
  //border-radius: 0.25rem;
  border: 2px solid;
  font-size: 0.75rem;
}

.user-banner-posts {
  height: 5rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
}

#user-public-post {
  width: 33.3%;
  border: 2px solid;
  font-size: 2rem;
}

#user-private-post {
  width: 33.3%;
  border: 2px solid;
  border-left: none;
  font-size: 2rem;
}

#user-liked-post {
  width: 33.4%;
  border: 2px solid;
  border-left: none;
  font-size: 2rem;
}

.user-page-post {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
}

.user-box-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  margin: 1rem;

}

.user-image-1 {
    height: 20rem;
    border: 2px solid;
}

.user-likes {
  width: 100%;
  text-align: center;
  border: 2px solid;
  border-top: none;
  font-size: 1.5rem;
  padding: 10px;
}