.other-banner-profile {
  height: 6rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#logo-for-feed {
  width: 5%;
  border: 2px solid;
}

#other-profile-empty-space {
  width: 90%;
  border: 2px solid;
  border-left: none;
}

#settings {
  width: 5%;
  border: 2px solid;
}

.info-about-other {
  height: 15rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.other-profile-pic {
  height: 8rem;
  width: 8rem;
  margin: auto;
  display: flex;
  border-radius: 3rem;
  border: 2px solid;
}

.generic-info {
  height: 15rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#other-following-followers {
  height: 7rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#other-following {
  height: 5rem;
  width: 3rem;
  margin: auto;
  display: flex;
  border-radius: 2rem;
  border: 2px solid;
}

#other-followers {
  height: 5rem;
  width: 3rem;
  margin: auto;
  display: flex;
  border-radius: 2rem;
  border: 2px solid;
}

#other-username-n-bio {
  height: 7rem;
  width: 10rem;
  margin: auto;
  display: flex;
  border-radius: 2rem;
  border: 2px solid;
}

.other-posts {
  height: 25rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.other-post-column {
  height: 25rem;
  width: 33.3%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.other-post-column-2 {
  height: 25rem;
  width: 33.4%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#other-actual-post {
  height: 5rem;
  width: 33.3%;
  margin: auto;
  display: flex;
  align-items: center;
  border-radius: 2rem;
  border: 2px solid;
}
