@import "@/styles/_variables.scss";

.profile {
  background-color: map-get($colors, light);
}

.user-banner-profile {
  height: 5.3rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#logo-for-feed {
  padding-top: 0.25rem;
  width: 14%;
  text-align: center;
  border: 2px solid;
}
.logo {
  height: 75%;
  margin: 1.5% 0% 0% 10%;
}

#banner-profile-empty-space {
  width: 71%;
  border: 2px solid;
  border-left: none;
  margin-bottom: 0rem;
}

#settings {
  width: 15%;
  //border: none;
}

#settings-button {
  height: 100%;
  width: 100%;
  padding-top: 0.5rem;
  font-size: 30px;
}

#settings-container {
  width: 20rem;
  height: 10rem;
}

.settings-button-content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

#bio-button-div {
  width: 100%;
  border: 2px solid black;
}

#change-pfp-button-div {
  width: 100%;
  border: 2px solid black;
  border-bottom: none;
}

#pfp-content {
  width: 20rem;
  height: 10rem;
}

#bio-button-text {
  width: 100%;
}

.bio-input {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.info-about-user {
  //background-color: white;
  height: 30rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -1rem;
  width: 80%;
  @include phone {
    width: 95%;
    height: 12rem;
  }
}

.user-profile-pic {
  background-color: white;
  height: 25rem;
  width: 40%;
  margin: 1rem;
  display: flex;
  border: 1.2px solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-color: #DBDBDB;
  font-size: 0.75rem;
  margin-left: 0rem;
  @include phone {
    height: 10rem;
    width: 50%;
  }
}

.generic-info {
  height: 25rem;
  width: 60%;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 0rem;
  @include phone {
    height: 10rem;
    width: 50%;
  }
}

#user-following-followers {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  @include phone {
    height: 10rem;
    width: 100%;
    flex-direction: column;
  }
}

#user-following {
  background-color: white;
  height: 100%;
  width: 90%;
  display: flex;
  border: 1.2px solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-color: #DBDBDB;
  font-size: 0.75rem;
  margin-right: 1rem;
  @include phone {
    width: 100%;
    height: 50%;
  }
}

#user-followers {
  background-color: white;
  height: 100%;
  width: 90%;
  display: flex;
  border: 1.2px solid;
  border-color: #DBDBDB;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 0.75rem;
  @include phone {
    width: 100%;
    height: 50%;
    margin-bottom: 0rem;
  }
}

#user-username-n-bio {
  background-color: white;
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
   border: 1.2px solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-color: #DBDBDB;
  font-size: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 0rem;
  @include phone {
    display: none;
  }
}

#user-username-n-bio-phone {
  display: none;
  @include phone {
  height: 2rem;
  width: 95%;
  margin: auto;
  display: flex;
  border: 2px solid;
  font-size: 0.75rem;
  margin-bottom: 1rem;
  }
}
.user-banner-posts {
  height: 4rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  width: 81.5%;
  @include phone {
    width: 95%;
  }
}

#user-banner-button {
  background-color: map-get($colors, primary);
  width: 100%;
  border: 2px solid;
  font-size: 1.5rem;
  margin-bottom: 0rem;
  padding: 0.7rem;
  margin-right: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  @include phone {
    margin-right: .1rem;
    margin-left: .1rem; 
    font-size: .75rem;
  }
}

.user-page-post {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  width: 81.5%;
  margin: auto;
  margin-bottom: 5rem;
  @include phone {
    width: 95%
  }
}

.user-box-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33%;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 2rem;
  cursor: pointer;
  // width: 100%;
  // margin-right: 0rem;
  // margin-left: 0rem;
  // margin-top: 2rem;
  cursor: pointer;
  @include phone {
    margin-top: 1rem;
  }
}

.user-image-1 {
    height: 30rem;
    border: 2px solid;
}
.placeholder {
  display: block;
  margin: auto;
  padding-top: 2rem;
  max-height: 27rem;
  max-width: 27rem;
}
.user-likes {
  width: 100%;
  text-align: center;
  border: 2px solid;
  border-top: none;
  font-size: 1.5rem;
  padding: 10px;
  margin-top: 0rem;
}