@import "@/styles/_variables.scss";

.profile-other {
  height: 100vh;
  width: 100%;
  background-color: map-get($colors, background-grey);
  font-family: $font;
  padding-bottom: 2.5rem;
}
h1 {
  font-size: 100%;
}


.other-banner-profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: sticky;
  z-index: 10;
  top: 0;
  height: 5.3rem;
  width: 100%;
  margin: auto;
  background-color: map-get($colors, primary);
  //transition: transform 0.25s;
}

#logo-container {
  padding: 0.25rem 1% 0 0;
  height: 100%;
  width: 15%;
  text-align: center;
  @include phone {
    padding: 0rem 0rem 0.25rem 0rem;
  }
}
.logo-png {
  height: 75%;
  margin: 1.5% 0% 0% 10%;
  @include phone {
    height: 3rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }
}

#banner-middle {
  height: 100%;
  width: 70%;
  @include phone{
    width: 60%;
    margin: 0 0 2px;
  }
}

#avatar {
  text-align: center;
  width: 15%;
}
.avatar-icon {
  padding-bottom: 0.4rem;
  color: black;
  @include phone {
    margin-left: 0rem;
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 3rem;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  z-index: 1;
  background-color: map-get($colors, primary);
  opacity: 50%;
}
.close-button:hover {
  opacity: 100%;
}

#fixing-margin-errors{
  @include phone{
    margin: 0 0 2px;
  }
}

#bio-button-div {
  width: 100%;
  border: 2px solid black;
}

#change-pfp-button-div {
  width: 100%;
  border: 2px solid black;
  border-bottom: none;
}

#pfp-content {
  width: 20rem;
  height: 10rem;
}

#bio-button-text {
  width: 100%;
}

.bio-input {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

//generic info of other///

.info-about-other {
  height: 30rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  @include phone {
    width: 95%;
    height: 12rem;
    margin: -1rem 1rem -1rem;
  }
  @include tablet {
    width: 90%;
  }
}

.other-profile-pic {
  height: 25rem;
  width: 40%;
  margin: 1rem;
  display: flex;
  border: 1.35px solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-color: #DBDBDB;
  margin-left: 0rem;
  @include phone {
    height: 7rem;
    width: 35%;
  }
}

.generic-info {
  height: 25rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include phone {
    height: 7rem;
    width: 65%;
  }
}

// #other-following-followers {
//   height: 100%;
//   width: 100%;
//   margin: auto;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   @include phone {
//     height: 7rem;
//     width: 100%;
//     flex-direction: column;
//   }
// }

// #other-following {
//   background-color: white;
//   height: 100%;
//   width: 90%;
//   display: flex;
//   border: 1.35px solid;
//   -webkit-border-radius: 10px;
//   -moz-border-radius: 10px;
//   border-radius: 10px;
//   border-color: #DBDBDB;
//   padding: 1rem;
//   font-size: 1.35rem;
//   margin-right: 1rem;
//   @include phone {
//     width: 100%;
//     height: 50%;
//     margin-top: 0rem;
//     margin-right: 0rem;
//     margin: 0 0 2px;
//   }
// }
// #other-followers {
//   background-color: white;
//   height: 100%;
//   width: 90%;
//   display: flex;
//   border: 1.35px solid;
//   -webkit-border-radius: 10px;
//   -moz-border-radius: 10px;
//   border-radius: 10px;
//   border-color: #DBDBDB;
//   padding: 1rem;
//   font-size: 1.35rem;
//   @include phone {
//     width: 100%;
//     height: 50%;
//     margin-bottom: 0rem;
//     margin-top: 0rem;
//     margin: 0 0 2px;
//   }
// }

#other-username-n-bio {
  background-color: white;
  height: 25rem;
  width: 100%;
  margin: auto;
  display: flex;
  // margin-top: 1rem;
  border: 1.35px solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-color: #DBDBDB;
  padding: 1rem;
  font-size: 1.35rem;
  @include phone {
    display: none;
    margin: 0rem 1rem 1rem;
  }
  @include tablet {
    height: 25rem;
  }
}
#other-username-n-bio-phone {
  display: none;
  @include phone {
  font-size: 0.75rem;
  margin-bottom: 1rem;
  height: 7rem;
  width: 65%;
  margin: 1rem;
  display: flex;
  border: 1.35px solid;
  border-radius: 10px;
  margin-left: 0rem;
  padding: .5rem;
  }
}

// .user-banner-posts {
//   height: 4rem;
//   margin: auto;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-evenly;
//   text-align: center;
//   margin-top: 1rem;
//   margin-bottom: 2rem;
//   width: 81.5%;
//   @include phone {
//     width: 95%;
//     height: 2.5rem;
//   }
// }

// #user-banner-button {
//   width: 100%;
//   background-color: map-get($colors, primary);
//   // border: 1.35px solid;
//   -webkit-border-radius: 10px;
//   -moz-border-radius: 10px;
//   border-radius: 10px;
//   // border-color: #DBDBDB;
//   font-size: 1.7rem;
//   font-weight: bold;
//   margin-bottom: 0rem;
//   padding: 1rem;
//   margin: auto;
//   margin-right: 1rem;
//   margin-left: 1rem;
//   cursor: pointer;
//   @include phone {
//     // margin-right: .1rem;
//     // margin-left: .1rem; 
//     font-size: .75rem;
//   }
// }

.other-page-post {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: auto;
  width: 81.5%;
  margin: auto;
  @include phone {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @include tablet{ 
      width: 93%;
  }
}

.other-box-1 {
  width: 100%;
  margin-right: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  @include phone {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}
.post-button {
  background-color: white;
  border: 1.35px solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-color: #DBDBDB;
  padding: 0;
  font-size: 1.8rem;
}
.post-button:hover {
  background-color: #CCCCCC;
}

.other-image-1 {
  height: 20rem;
  @include tablet {
    height: 15rem;
  }
}
.placeholder {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: revert;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
}
.other-likes {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
}


.modal-container {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  padding: 0;
  margin-bottom: 1rem;
  @include tablet {
    width: 70%;
    margin-top: 5rem;
  }
  @include phone {
    margin-top: 5rem;
  }
}

.picture-container {
  position: relative;
}

.expanded-image {
  object-fit: cover;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
  width: 100%;
  @include phone {
    height: 100%;
    object-fit: cover;
  }
}
// .other-post-column-2 {
//   height: 25rem;
//   width: 33.4%;
//   margin: auto;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }

// #other-actual-post {
//   height: 12rem;
//   width: 100%;
//   margin: auto;
//   display: flex;
//   align-items: center;
//   //border-radius: 0.25rem;
//   border: 2px solid;
//   flex-direction: column;
//   justify-content: center;
//   font-size: 0.75rem;
// }

// #post-settings-with-empty-space {
//   height: 5%;
//   margin: auto;
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-start;
// }

// #post-settings-empty-space {
//   width: 90%;
//   border: none;
// }

// #post-settings-button {
//   width: 10%;
//   border: 2px solid;
//   border-right: none;
//   font-size: 0.5rem;
// }

// #post-picture {
//   height: 85%;
// }

// #post-likes {
//   height: 10%;
//   border: 2px solid;
//   border-bottom: none;
//   font-size: 0.75rem;
// }

.heart-icon {
  margin-top: .5rem;
  margin-right: 1rem;
}