@import "@/styles/_variables.scss";

.register-box {
  width: 90vh;
  margin: auto;
  border: 1px solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 2rem;
  margin-top: 8%;
  background-color: map-get($colors, primary);
  font-family: $font;
  @include phone {
    margin-top: 6vh;
    width: 80%;
  }
  @include tablet {
    margin-top: 15vh;
    width: 60vh;
    font-size: 2.5rem;
  }
}

.register-title {
  text-align: center;
  @include phone {
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
  @include tablet {
    font-size: 5rem;
  }
}

label {
  @include phone {
    font-size: 1.8rem;
  }
  @include tablet {
    font-size: 2.8rem;
  }
}

.register-signup-btn {
  display: flex;
  flex-direction: row;
}
#register-btn {
  width: 40%;
}
#login-btn {
  width: 60%;
}

.form-control {
  @include tablet {
    font-size: 2.2rem !important;
  }
  @include phone {
    font-size: 1.8rem !important;
  }
}