@import "@/styles/_variables.scss";

.register-box {
  width: 90vh;
  margin: auto;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 2rem;
  margin-top: 8%;
  background-color: map-get($colors, primary-light);
  font-family: $font;

  @include phone {
    width: 45vh;
    background-color: map-get($colors, orange);
  }
  @include tablet {
    width: 70vh;
    background-color: map-get($colors, light-blue);
    font-size: 2.5rem;
  }
}

.register-title {
  text-align: center;
}

.register-signup-btn {
  display: flex;
  flex-direction: row;
}
#register-btn {
  width: 40%;
}
#login-btn {
  width: 60%;
}
